<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="main-container">
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <form action="/weather" method="POST">
      <input type="text" name="zipcode">
      <button type="submit">Get Weather</button>
    </form>
    <% if (weatherData) { %>
      <h1>Weather Data For <%= weatherData.name %></h1>
      <h2>Current Temp: <%=  ((weatherData.main.temp - 273.15) * 9/5 + 32).toFixed(2) %>°F</h2>
      <img src="https://openweathermap.org/img/wn/<%= weatherData.weather[0].icon %>@2x.png" alt="weather status icon">
    <% } %>
    <a href="/weatherReadings">Previous Readings</a>
  <% } %>
</main>

<%- include('./partials/footer') %>
